---
layout: default
title: Who We Are
permalink: /about/
---

<div
  class="border border-dark rounded bg-whitesmoke container-sm mb-3 justify-content-center d-flex"
>
  <div class="p-2 text-center computer-modern w-50">
    <p class="mb-0">
      <em>“Alone we can do so little; together we can do so much.”</em>
    </p>
    <p class="text-end mb-0">- Hellen Keller -</p>
  </div>
</div>

<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  {% for person in site.people %} {% if person.category == 0 %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.image}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p class="m-0">
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}"
          ><i class="align-middle linkedin-square-icon"></i
        ></a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}"><i class="align-middle globe-icon"></i></a
        >{% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>

<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <h4 class="display-6">Advisory Committee</h4>
  {% for person in site.people %} {% if person.category == 1 %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.image}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p class="m-0">
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}"
          ><i class="align-middle linkedin-square-icon"></i
        ></a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}"><i class="align-middle globe-icon"></i></a
        >{% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>

<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <h4 class="display-6">SNAP Committee</h4>
  {% for person in site.people %} {% if person.category == 2 %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.image}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p>
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}"
          ><i class="align-middle linkedin-square-icon"></i
        ></a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}"><i class="align-middle globe-icon"></i></a
        >{% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>

<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <h4 class="display-6">Undergraduate SNAP Committee</h4>
  {% for person in site.people %} {% if person.category == 3 %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.image}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p>
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}"
          ><i class="align-middle linkedin-square-icon"></i
        ></a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}"><i class="align-middle globe-icon"></i></a
        >{% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
