---
layout: default
title: Who We Are
permalink: /about/
description: Meet the people behind SNAP!
---

<div
  class="border border-dark rounded bg-whitesmoke container-sm mb-3 justify-content-center d-flex"
>
  <div class="p-2 text-center computer-modern w-50">
    <p class="mb-0">
      <em>“Alone we can do so little; together we can do so much.”</em>
    </p>
    <p class="text-end mb-0">- Hellen Keller -</p>
  </div>
</div>
<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  {% assign founders = site.people | where:"category", "0" %}{% for person in
  founders %}
  <div class="row">
    {% unless forloop.first%}
    <hr class="mb-3" />
    {% endunless %}
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.photo}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail mb-2"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p class="m-0">
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}" class="text-decoration-none">
          <i class="align-middle linkedin-square-icon"></i
          ><span class="d-none">LinkedIn</span>
        </a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}">
          <i class="align-middle globe-icon"></i>
          <span class="d-none">Link to External Website</span>
        </a>
        {% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <p class="display-6">Advisory Committee</p>
  {% assign advisory = site.people | where:"category", "1" %} {% for person in
  advisory %}
  <div class="row">
    <hr class="mb-3" />
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.photo}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail mb-2"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p class="m-0">
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}" class="text-decoration-none">
          <i class="align-middle linkedin-square-icon"></i
          ><span class="d-none">LinkedIn</span>
        </a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}">
          <i class="align-middle globe-icon"></i>
          <span class="d-none">Link to External Website</span>
        </a>
        {% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <p class="display-6">SNAP Committee</p>
  {% assign cmte = site.people | where:"category", "2" %} {% for person in cmte
  %}
  <div class="row">
    <hr class="mb-3" />
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.photo}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail mb-2"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p>
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}" class="text-decoration-none">
          <i class="align-middle linkedin-square-icon"></i
          ><span class="d-none">LinkedIn</span>
        </a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}">
          <i class="align-middle globe-icon"></i>
          <span class="d-none">Link to External Website</span>
        </a>
        {% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="border border-dark container rounded bg-whitesmoke mb-3 p-4">
  <p class="display-6">Undergraduate SNAP Committee</p>
  {% assign ugrad = site.people | where:"category", "3" %} {% for person in
  ugrad %}
  <div class="row">
    <hr class="mb-3" />
    <div class="col-12 col-lg-3">
      <img
        src="./../assets/profiles/{{person.photo}}"
        alt="{{person.name}}"
        class="w-100 img-thumbnail mb-2"
      />
    </div>
    <div class="col-12 col-lg-9">
      <p class="mb-0"><strong>{{person.name}}</strong></p>
      <p class="m-0"><em>{{person.title}}</em></p>
      <p>
        {% if person.email%}
        <a href="mailto:{{person.email}}">{{person.email}}</a>
        {% endif %}{% if person.linkedin%} |
        <a href="{{person.linkedin}}" class="text-decoration-none">
          <i class="align-middle linkedin-square-icon"></i
          ><span class="d-none">LinkedIn</span>
        </a>
        {% endif %} {% if person.website%} |
        <a href="{{person.website}}">
          <i class="align-middle globe-icon"></i>
          <span class="d-none">Link to External Website</span>
        </a>
        {% endif %}
      </p>
      <p>{{person.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>
