<!-- Footer -->
<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col-5 mt-3">
                <h6 class="text-light">{{ site.title }}</h6>
                <a href="{{ site.email }}">{{ site.email }}</a><br>
                <a href="{{ site.github_username }}">@{{ site.github_username }}(GitHub)</a>
            </div>
            <div class="col-7 mt-3 text-muted">
                {{ site.description }}
            </div>
        </div>
  <!-- Copyright -->
  <div class="text-center text-light p-3">© 2022 Copyright: SNAPFSE</div>
</footer>
<!-- Footer -->
