<!-- Footer -->
<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col-5 mt-3">
                <p class="text-light">{{ site.title }}</p>
                <a href="{{ site.email }}">{{ site.email }}</a><br>
            </div>
            <div class="col-7 mt-3 text-light text-start">
                {{ site.description }}
            </div>
        </div>
  <!-- Copyright -->
  <div class="text-muted p-3">© 2022 Copyright: SNAP</div>
</footer>
<!-- Footer -->
