<footer class="text-lg-start text-light footer">
  <div class="container mt-1" style="max-width: 960px">
    <div class="text-center">
      <span>
        <img
          src="{{site.baseurl}}/assets/logo.webp"
          alt="SNAP Logo"
          width="auto"
          height="30"
          width="30"
          class="d-inline-block align-text-top"
        />
        <span class="align-bottom" style="font-size: 1.2em"
          >{{site.full-title}}</span
        >
      </span>
      <div class="text-center">{{site.tagline}}</div>
    </div>
  </div>
  <div class="container text-md-start mt-1">
    <div
      class="d-md-flex flex-column justify-content-center flex-md-row gap-3 text-center"
    >
      {% for item in site.data.footer.links %}
      <a class="footer-link" href="{{site.baseurl}}{{item.url}}">
        {{item.title}}
      </a>
      {% endfor %}
    </div>
    <div
      class="d-md-flex flex-column justify-content-center flex-md-row gap-3 mb-2 text-center"
    >
      <span class="footer-link">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        {{site.full-title}}. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
