<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script id="mcjs">
    !(function (c, h, i, m, p) {
      (m = c.createElement(h)),
        (p = c.getElementsByTagName(h)[0]),
        (m.async = 1),
        (m.src = i),
        p.parentNode.insertBefore(m, p);
    })(
      document,
      "script",
      "https://chimpstatic.com/mcjs-connected/js/users/92e1b467067ce6d731cbba9e7/bf3bb2a69ad94421288eddcfa.js"
    );
  </script>
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{site.baseurl}}/assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{site.baseurl}}/assets/favicon/favicon-16x16.png"
  />
  <link
    rel="manifest"
    href="{{site.baseurl}}/assets/favicon/site.webmanifest"
  />
  <link rel="icon" href="{{site.baseurl}}/assets/favicon/favicon.ico" />
  {% seo %}
</head>
