<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand krona-one" href="{{"/" | relative_url }}">SNAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' |prepend: site.baseurl }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/news/' %}active{% endif %}" href="{{ '/news/' |prepend: site.baseurl }}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/mission/' %}active{% endif %}" href="{{ '/mission/' |prepend: site.baseurl }}">Our Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="{{ '/about/' |prepend: site.baseurl }}">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/projects/' %}active{% endif %}" href="{{'/projects/'|prepend: site.baseurl }}">What We Do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" href="{{ '/contact/' |prepend: site.baseurl }}">Contact Us</a>  
                </li>
            </ul>
        </div>
    </div>
</nav>