<nav class="navbar navbar-dark navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand krona-one" href="{{"/" | relative_url }}">  <img src="{{site.baseurl}}/assets/logo.png" alt="SNAP Logo" width="auto" height="30" class="d-inline-block align-text-top">
            SNAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' |prepend: site.baseurl }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/blog/' %}active{% endif %}" href="{{ '/blog/' |prepend: site.baseurl }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/story/' %}active{% endif %}" href="{{ '/story/' |prepend: site.baseurl }}">Our Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/projects/' %}active{% endif %}" href="{{'/projects/'|prepend: site.baseurl }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="{{ '/about/' |prepend: site.baseurl }}">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/contribute/' %}active{% endif %}" href="{{ '/contribute/' |prepend: site.baseurl }}">Contribute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" href="{{ '/contact/' |prepend: site.baseurl }}">Contact Us</a>  
                </li>
            </ul>
        </div>
    </div>
</nav>