---
layout: default
title: Blog
description: Keep up with the latest of what's going on at SNAP
---

<!-- This loops through the paginated posts -->
<div class="container-sm">
  {% for post in paginator.posts %}
  <div
    class="rounded bg-whitesmoke p-4 col-sm mx-auto shadow post-container"
    style="max-width: 50em"
    onclick="location.href='{{ site.url }}{{ post.url }}';"
  >
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"> </a>
    <p class="post-tag">
      <mark> {{post.tag}} </mark>
    </p>
    <a class="post-link" href="{{ site.url }}{{ post.url }}">
      <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
      <p class="post-subtitle lead">{{post.description}}</p>
    </a>
    <p class="text-black-50">{{ post.date | date: "%m-%d-%Y" }}</p>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="row items-center m-3">
  <div class="col-sm">
    {% if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path }}"
      class="btn btn-primary text-light"
    >
      Previous
    </a>
    {% else %}
    <a class="disabled btn btn-primary text-light">Previous</a>
    {% endif %}
  </div>
  <div class="col-sm text-center text-light">
    <span class="page_number align-text-bottom">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
  </div>
  <div class="col-sm text-end">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary text-light"
      >Next</a
    >
    {% else %}
    <span class="disabled btn btn-primary text-light">Next</span>
    {% endif %}
  </div>
</div>
