<!DOCTYPE html>
<html lang="en">
  {% include head.html %} {% include styles.html %}
  <body>
    <header>{% include navbar.html %}</header>
    <div class="container">
      <article
        class="border border-dark rounded bg-whitesmoke mb-3 mt-3 p-4 mx-auto"
        style="max-width: 65em"
        id="content"
      >
        <h1 id="title" class="text-center">{{ page.title }}</h1>
        {{ content }} {% include share-buttons.html %}
      </article>
    </div>
    {% include footer.html %} {% include scripts.html %}{% include
    stickynav.html %}
  </body>
</html>
