---
layout: page
---

{{content}}

<script>
  //Add this to you script
  function run() {
    var password = prompt("Enter Password");
    {% if page.key %}
    var key ="{{page.key}}";
    {% else %}var key ="SNAP";
    {% endif %}
    var element = document.getElementById("content");
    //Change to your own Password
    if (password != key) {
        element.innerHTML = "";
        element.innerHTML = "<h1>403 Error</h1><p>You do not have permission to access a web page</p>";
    } else {
      alert("Success");
    }
  }
  run();
</script>
